---
interface Props {
  heading?: string;
  headingHtml?: string;
}
const { heading, headingHtml } = Astro.props;
---

<section class="section">
  <div class="container">
    <div class="section-content">
      <div class="content_grid">
        <div class="title">
          {headingHtml ? (
            <Fragment set:html={headingHtml} />
          ) : (
            <h2 class="h3 long-text">{heading}</h2>
          )}
        </div>
        <div class="content cms-rich-text">
          <slot />
        </div>
      </div>
    </div>
  </div>
</section>
